* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  margin-top: 3.5rem;
  padding: 2.25rem;
  background-color: #1e272e;
  border-radius: 0.625rem;
  color: white;
  user-select: none;
}

.Inputs {
  display: flex;
  column-gap: 0.625rem;
}

.score {
  font-size: 1.5625rem;
  text-align: center;
  transition: 2s;
  background-color: yellow;
  color: black;
}

.btn {
  background-color: whitesmoke;
  transition: 500ms;
}

@media (min-width: 0px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 481px) {
  .container {
    width: 28rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 31.25rem;
  }
}
